@page
@model ContactModel
@{
    ViewData["Title"] = "Contactanos";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    Distrito Nacional<br />
    Rep.Dom., DN <br />
    <abbr title="Phone">P:</abbr>
    1-829-559-8181
</address>

<address>
    <strong>Soporte:</strong> <a href="mailto:Jmsolutionscode@gmail.com">JMSolutionsCode@gmail.com</a>
</address>
